
aioquic/
avro/
bbolt/
blake3/
boltdb/
capnproto/
flatbuffers/
gorilla-websocket/
libdatachannel/
libwebsockets/
lmdb/
lsquic/
msgpack-c/
msquic/
mvfst/
ngtcp2/
nhooyr-websocket/
pion-webrtc/
protobuf/
py-websockets/
quic-go/
quic-spec/
quiche/
quinn-rs/
rqlite/
sbe/
sqlean/
sqlite/
tinycbor/
tokio-tungstenite/
uWebSockets/
webrtc-src/
websocketpp/
webtransport-go/
webtransport-spec/
xxhash/

# Standard .NET ignores
.vs/
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
*.user
*.suo
